[submodule "linux-4.17"]
	path = linux-4.17
	url = https://github.com/andestech/linux.git
[submodule "BBL"]
	path = BBL
	url = https://github.com/andestech/BBL.git
[submodule "busybox"]
	path = busybox
	url = https://github.com/andestech/busybox.git
[submodule "gdb"]
	path = gdb
	url = https://github.com/andestech/gdb.git
[submodule "iperf"]
	path = iperf
	url = https://github.com/andestech/iperf.git
[submodule "mplayer"]
	path = mplayer
	url = https://github.com/andestech/mplayer.git
[submodule "rootfs"]
	path = rootfs
	url = https://github.com/andestech/rootfs.git
[submodule "strace"]
	path = strace
	url = https://github.com/andestech/strace.git
[submodule "u-boot-riscv"]
	path = u-boot-riscv
	url = https://github.com/andestech/uboot.git
